.SidebarItem {
  box-sizing: border-box;
  background-color: rgba(0,0,0,.1);
  display: flex;
  list-style: none;
  flex-direction: column;
  transition: border .4s;
}

.SidebarItem button {
  all: unset;
  padding: 8px 12px;
  /* flex-grow: 1; */
  cursor: pointer;
}

.SidebarItem button:hover {
  background-color: #222;
  color: #fff;
}

.SidebarItem--Open {
  /* font-weight: bold; */
  border-left: 3px solid rgb(30, 127, 206);
}

.SidebarItem--InMemory {
  float:right;
}